[req]
default_bits        = 2048
prompt              = no
default_md          = sha256
distinguished_name  = req_distinguished_name
req_extensions      = req_ext

[req_distinguished_name]
CN                  = *.smooth.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1   = smooth.local
DNS.2   = *.smooth.local
DNS.3   = web.smooth.local
DNS.4   = shop.smooth.local
DNS.5   = admin.smooth.local
DNS.6   = identity.smooth.local
DNS.7   = flaunt.smooth.local
DNS.8   = flaunt.api.smooth.local




